menu {
    --size: 3.5vw;
    --radius: 8vw;
    --padding: 2.5vw;
    /* --bg-color: rgba(255, 255, 255, 0.9); */
    --bg-color: #2777FF;
    --fg-color: white;
    --hi-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
    z-index: 998;
}


  
menu > * {
    position: absolute;
    display: grid;
    place-content: center;
    border-radius: 50%;
    /* background: var(--bg-color); */
    opacity: 0.5;
    background-color: #56CCF2;
    background-image: linear-gradient(147deg, #01b9f7  0%, #3267ac 74%);
    color: var(--fg-color);
    text-decoration: none;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
}
  
  /* css for opacity */

menu:hover > *{
    opacity: 1;
    
}
  
menu > .action {
    --factor: 0;
    
    width: var(--size);
    height: var(--size);
    right: calc(0.35 * var(--size));
    bottom: calc(0.35 * var(--size));
    
    opacity: 0;
    
    transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));
    
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, box-shadow 250ms ease-in-out, color 250ms ease-in-out;
  }
  
menu > .trigger:hover {
    color: var(--hi-color);
    box-shadow: 0px 0px 0px 0.37vw rgba(0, 0, 0, 0.2);
}

.telegram:hover{
    color: #229ED9;
    box-shadow: 0px 0px 0px 0.37vw rgba(0, 0, 0, 0.2);
}

  .instagram:hover{
    color: #8a3ab9;
    box-shadow: 0px 0px 0px 0.37vw rgba(0, 0, 0, 0.2);
}
  .twitter:hover{
    color: #00acee;
    box-shadow: 0px 0px 0px 0.37vw rgba(0, 0, 0, 0.2);
  }
  .whatsapp:hover{
    color: #25D366;
    box-shadow: 0px 0px 0px 0.37vw rgba(0, 0, 0, 0.2);
  }
  
  menu.open > .action {
    --factor: 1;
    
    opacity: 1;
  }



  
  
  menu > .action:nth-child(1) {
    cursor: pointer;
    --angle: 0deg;
    transition-delay: 0ms;
  }
  
  menu > .action:nth-child(2) {
    cursor: pointer;
    
    --angle: 30deg;
    transition-delay: 50ms;
  }
  
  menu > .action:nth-child(3) {
    cursor: pointer;

    --angle: 60deg;
    transition-delay: 100ms;
  }
  
  menu > .action:nth-child(4) {
    cursor: pointer;

    --angle: 90deg;
    transition-delay: 150ms;
  }
  
  menu > .trigger {
    justify-content: center;
    align-items: center;
    width: calc(1.6 * var(--size));
    height: calc(1.6 * var(--size));
    bottom: 0;
    right: 0;
    
    font-size: 2vw;
    transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
  }
  
  menu > .trigger > i {
    transition: transform 250ms ease-in-out;
  }
  
  menu.open > .trigger > i {
    transform: rotate(-135deg);
  }

  /* css for hover */
  menu.close:hover > .trigger > i{
    transform: rotate(-135deg);
  }
  menu.close:hover >.action{
    --factor: 1;
    
    opacity: 1;
  }

  @media screen and (max-width: 480px) {
    menu {
      --size: 10vw;
      --radius: 20vw;
      --padding: 7.5vw;
      /* --bg-color: rgba(255, 255, 255, 0.9); */
      --bg-color: #2777FF;
      --fg-color: white;
      --hi-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      bottom: var(--padding);
      right: var(--padding);
      z-index: 998;
  }
    menu > .trigger {
      justify-content: center;
      align-items: center;
      width: calc(1.6 * var(--size));
      height: calc(1.6 * var(--size));
      bottom: 0;
      right: 0;
      font-size: 7vw;
      transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
    }
    menu > .action {
      --factor: 0;
      
      width: var(--size);
      height: var(--size);
      right: calc(0.1 * var(--size));
      bottom: calc(0.1 * var(--size));
      
      opacity: 0;
      
      transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1.1 * var(--radius) * var(--factor))) rotate(var(--angle));
      
      transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, box-shadow 250ms ease-in-out, color 250ms ease-in-out;
    }
  }
  