.submitButtonContact{
    height: fit-content;
    width: fit-content;
    padding: 6px;
    margin-top: 1vh;
    background-color: white;
    margin-left: 4vw;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .submitButtonContact{
        height: 8vw;
        width: 20vw;
        padding: 1vw;
        margin-top: 1vh;
        background-color: white;
        margin-left: 18vw;
        cursor: pointer;
    }

    
}