.submitButtonContact{
    height: fit-content;
    width: fit-content;
    padding: 6px;
    margin-top: 1vh;
    background-color: white;
    margin-left: 4vw;
    cursor: pointer;
    color: black;

}


@media screen and (max-width: 960px) {
    .submitButtonContact{
        height: 4.5vw;
        width: 15vw;
        padding: 1vw;
        margin-top: 1vh;
        background-color: white;
        margin-left: 7vw;
        cursor: pointer;
        font-size: small;
        color: black;
    }

    
}

@media screen and (max-width: 480px) {
    .submitButtonContact{
        height: 8vw;
        width: 20vw;
        padding: 1vw;
        margin-top: 1vh;
        background-color: white;
        margin-left: 18vw;
        cursor: pointer;
        color: black;
    }

    
}