.contacts-container{
    background-image: url('/public/images/contactBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow-x: hidden; 
}
.contactMainContent{
    margin-top: 50vh;
    display: flex;
    flex-direction: row;
    gap: 8vw;
}

.contactColumn{
    /* background-color: aqua; */
    width: 12vw;
}

.contactHeading{
    color: #fff;
    font-family: Cambria;
    font-weight: 700;
    font-size: 1.5vw;
    margin-bottom: 2vh;
}

.contactDescrp{
    color: grey;
    font-size: 1vw;
}

.needgap{
    margin-bottom: 15px;
}

.contact-links{
    text-decoration: none;
    color: grey;
}

@media screen and (max-width: 960px) {
    .contacts-container{
        height: auto;
        align-items: flex-start;
        margin: 0;
        padding-top: 0vh;
        padding-left: 10vw;
    }
    .contacts-container{
        background-image: url('/public/images/contactBackgroundTab.png');
    }

    .contactMainContent{
        margin-top: 50vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 8vw;
    }

    .contactColumn{
        /* background-color: aqua; */
        width: 35vw;
    }
    
    .contactHeading{
        color: #fff;
        font-family: Cambria;
        font-weight: 700;
        font-size: 5vw;
        margin-bottom: 2vh;
    }
    
    .contactDescrp{
        color: grey;
        font-size: 2vw;
    }
    
    .needgap{
        margin-bottom: 5px;
    }
    
    .contact-links{
        text-decoration: none;
        color: grey;
    }
}
@media screen and (max-width: 480px) {
    .contacts-container{
        height: auto;
        align-items: flex-start;
        margin: 0;
        padding-top: 10vh;
        padding-left: 10vw;
    }
    .contacts-container{
        background-image: url('/public/images/contactBackgroundMobile.png');
    }

    .contactMainContent{
        margin-top: 50vh;
        display: flex;
        flex-direction: column;
        gap: 8vw;
    }

    .contactColumn{
        /* background-color: aqua; */
        width: 65vw;
    }
    
    .contactHeading{
        color: #fff;
        font-family: Cambria;
        font-weight: 700;
        font-size: 7vw;
        margin-bottom: 2vh;
    }
    
    .contactDescrp{
        color: grey;
        font-size: 3vw;
    }
    
    .needgap{
        margin-bottom: 5px;
    }
    
    .contact-links{
        text-decoration: none;
        color: grey;
    }
}