.dmContainer{
    background-image: url('/public/images/dmBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    object-fit: cover;
}

.dmVectorArt{
    margin-top: 9vh;
    width: 40vw;
}

.dmMainContentColumn{
    margin-top: 30vh;
    margin-left: 2.5vw;
    margin-right: 1.8vw;
}

.dmCommas{
    font-size: 5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dmCommasEnd{
    font-size: 5vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50vw;
}

.dmText{
    font-size: 2vw;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
}

.dmName{
    font-size: 2.2vw;
    font-family: Cambria;
}

.dmRole{
    font-size: 2vw;
    margin-top: 1vh;
    margin-left: 0.2vw;
    font-family: Arial;
    font-weight: normal;
    color: grey;
}

@media screen and (max-width: 960px) {

    .dmContainer{
        background-image: url('/public/images/dmBackgroundMobile.png');
        margin: 0;
    }
    .dmVectorArt{
        visibility: hidden;
        display: none;
    }
    .dmText{
        font-size: 5vw;
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
    }
    
    .dmName{
        font-size: 4.5vw;
    }
    
    .dmRole{
        font-size: 4vw;
    }
}
@media screen and (max-width: 480px) {

    .dmContainer{
        background-image: url('/public/images/dmBackgroundMobile.png');
        margin: 0;
    }
    .dmVectorArt{
        visibility: hidden;
        display: none;
    }
    .dmText{
        font-size: 5vw;
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
    }
    
    .dmName{
        font-size: 4.5vw;
    }
    
    .dmRole{
        font-size: 4vw;
    }
}